<%- include("../partials/head.ejs") %>

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

<body>
  <%- include("../partials/nav.ejs") %>
   
    <div class="container-flow">
      <!--Search for specific product , calls 'search_products()'-->

        <form class="form-inline d-flex justify-content-around md-form form-sm mt-0 ">
        <input id="searchbar" onkeyup="search_products()" type="text" required class="form-control me-2" placeholder="Search"
          aria-label="Search" />
          </form> 
   

          <!-- Responsive Crud table start (looping through all our products in our db and show them whit crud operations) -->
          <div class="table-responsive-sm" >
             <table class="table">
        
              <tr>
               <!---Phil did this-->   <th scope="col">Picture(s)</th>
                <th scope="col">Title(s)</th>
                <th scope="col">Brand(s)</th>
                <th scope="col">Price(s)</th>
                
                <th scope="col">Actions</th>
              

              </tr>
            </thead>
            <% if (products.length> 0) { %>
              <% products.forEach(product=> { %>
                
            <tbody id = "table-body">
              <tr>
             
                   <!---Phil did this--> <td> <img src="/uploads/resized/<%= product.picture%>" /></td> 
                <td class = "table-title"> <%= product.title %></td>
                <td> <%= product.brand %></td>
                <td>    <%= product.price %></td>
                <td>   
                  <div class="px-2 mt-3">
                    
                  <a class="single" href="/shop/products/<%= product._id %>">
                    <button class="btn btn-form">Delete/Buy</button>
                  </a>
                  <a class="single" href="/shop/edit-form/<%= product._id %>">
                    <button class="btn btn-form ">Update</button>
                  </a>
                </div>
              </td>
              <% }) %>
              <% } else { %>
                <p>There are no products to display...</p>
                <% } %>
              </tr>
            </tbody>
          </table>
          </div>
       
    </div>

    <%- include("../partials/footer.ejs") %>

      <!-- Have all the JS code last down in the page in every EJS file-->
      <script>

            //Search functionality
            $(document).ready(function() {
                $("#searchbar").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#table-body tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });

      </script>

</body>