<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
   
    <div class="container-flow">
      <!--Search for specific product , calls 'search_products()'-->

        <form class="form-inline d-flex justify-content-around md-form form-sm mt-0 ">
        <input id="searchbar" onkeyup="search_products()" type="text" required class="form-control me-2" placeholder="Search"
          aria-label="Search">
          </form> 
   

          <!-- Responsive Crud table start (looping through all our products in our db and show them whit crud operations) -->
          <div class="table-responsive-sm">
             <table class="table">
        
              <tr>
               <!---Phil did this-->   <th scope="col">picture</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Brand</th>
                
                <th scope="col">Crud Op</th>
              

              </tr>
            </thead>
            <% if (products.length> 0) { %>
              <% products.forEach(product=> { %>
                
            <tbody>
              <tr>
             
                   <!---Phil did this--> <td> <img src="/uploads/resized/<%= product.picture%>" /></td> 
                <td> <%= product.title %></td>
                <td> <%= product.brand %></td>
                <td>    <%= product.price %></td>
                <td>   
                  <div class="px-2 mt-3">
                    
                  <a class="single" href="/shop/products/<%= product._id %>">
                    <button class="btn btn-form">Delete/By</button>
                  </a>
                  <a class="single" href="/shop/edit-form/<%= product._id %>">
                    <button class="btn btn-form ">Update</button>
                  </a>
                </div>
              </td>
              <% }) %>
              <% } else { %>
                <p>There are no products to display...</p>
                <% } %>
              </tr>
            </tbody>
          </table>
          </div>
       
    </div>

    <%- include("../partials/footer.ejs") %>

      <!-- Have all the JS code last down in the page in every EJS file-->
      <script>

        // JavaScript code. Place in JS folder if possible
        //Search function
        function search_products() {
          let input = document.getElementById('searchbar').value
          input = input.toLowerCase();

           // The search bar dose not work from when i changed to table, Can it be becuase it stands card-body here?(we dont have card-body anymore)

          let column = document.getElementsByClassName('card-body');
          let card_title = document.getElementsByClassName('title');

          for (i = 0; i < card_title.length; i++) {
            if (!card_title[i].innerHTML.toLowerCase().includes(input)) {
              column[i].style.display = "none";
            }
            else {
              column[i].style.display = "inline";
            }
          }
        }
      </script>

</body>