<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="container-flow">
      <!-- Products cards start -->
      <div class="row">
        <div class="column">
          <div class="card ">
            <div class="card-body ">
              <h3 class="title">
                <%= product.title %>
              </h3>
              <img src="/uploads/resized/<%= product.picture%>" />
              <div class="d-flex justify-content-between align-items-center mt-3 px-2">
                <h4>
                  <%= product.brand %>
                </h4> <span class="star"><a href="#"><i class="fa fa-star"></i></a></span>
              </div>
              <p class="price"> Price:
                <%= product.price %>
              </p>
              <p class="description">
                <%= product.description %>
              </p>
                <form action="/paypal/pay" method="post">
                  
                  <button class="btn btn-card " >Buy</button>

                </form>
                <button class="btn btn-card"><a class="delete" data-doc="<%= product._id %>">Delete</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include("../partials/footer.ejs") %>

      <!--Delete btn script-->
      <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/shop/products/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(response => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });

      </script>

  </body>