<%- include("../partials/head.ejs") %>



    <% if(messagereview.length> 0 ) {%>
        <div class="alert alert-success">
            <%= messagereview %>
        </div>


        <% } %>

            <body>
                <div class="container-fluid">
                    <%- include("../partials/nav.ejs") %>
                        <nav class="breadcrumb-nav" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                     
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ol>
                        </nav>
                        
                        <div class="product-container">


                            <!-- Products cards start -->
                            <div class="product-holder">

                                <div class="product-holder-img">
                                    <img src="/uploads/resized/<%= product.picture%>" />
                                </div>

                                <div class="product-detail-div">
                                    <div class="product-detail-box">
                                        <div class="product-detail-banner">
                                            <h2 class="product-detail-h2">
                                                <%= product.title %>
                                            </h2>
                                            <div class="brand-price">
                                                <p class="product-detail-p"> <strong>Brand : </strong><%= product.brand %>
                                                </p>
                                                <p class="product-detail-p"><strong>Price : </strong><%= product.price %> SEK. (Incl. VAT)</p>
                                            </div>

                                            <div class="product-description">
                                                <h3>Detailed Description</h3>
                                                <p class="product-detail-description">
                                                    <%= product.description %>
                                                </p>
                                            </div>

                                            <div class="size-and-bag">

                                                <div class="btn-bag">
                                                    <a href="/cart/add/<%= product._id %>">
                                                        <button type="button" class="btn btn-add-cart rounded-0"><i
                                                                class="fa-solid fa-bag-shopping fa-lg"
                                                                aria-hidden="true"></i>Add to bag
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- looping through all our comments to show them in the table -->
                            <div class="reviews-heading">
                                <h1>Reviews</h1>
                            </div>
                            <div class="table-responsive-xs">
                                <table class="table review-table">
                                    <thead class="review-thead">

                                        <tr>
                                            <th scope="col">Comment</th>
                                            <th scope="col">Rating</th>
                                            <th scope="col">Posted by:</th>
                                            <th scope="col">Date</th>

                                        </tr>
                                    </thead>

                                    <tbody id="table-body">
                                        <% product.reviews.forEach(review=> { %>
                                            <tr>
                                                <td>
                                                    <p>
                                                        <%= review.comment %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%= review.rating %>/5
                                                    </p>
                                                </td>

                                                <td>
                                                    <p>
                                                        <%= review.author.username %>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <%= moment(review.date).format("YYYY-MM-DD HH:mm") %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="review-div">
                             
                                <div class="write-review-div">
                                    <div class="review-form-title">
                                 
                                        <h3 class="review-h3">Review this product</h3>
                                    </div>
                                    <div class="review-form">
                                        <form action="/shop/product/<%=product._id %>/review/post" method="POST">
                                            <div class="review-inputs">
                                                <textarea class="form-control rounded-0" name="comment"
                                                    placeholder="Comment text area" rows="4"></textarea>
                                                <select class="form-control rating-btn rounded-0" name="rating">
                                                    <!--couldnt remove border-radius for dropdown menu-->
                                                    <option selected disabled>How do you rate this product</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    </select>
                                            </div>
                                            <div class="submit-review-div">
                                          
                                                <input type="submit" label="Submit" value="Submit"
                                                    class="review-submit-btn">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <%- include("../partials/footer.ejs") %>
                    <script>
                        // set timer for our flash message
                        $(function () {
                            setTimeout(function () {
                                $('.alert').slideUp(500);
                            }, 3000);
                        });
                    </script>
            </body>