<%- include("../partials/head.ejs") %>

  <body>
    <!-- Container fluid does that the navbar and everything inside fits to the page -->
    <!-- Look at this later if time let us -->
    <div class="container-fluid" id="app">
      <%- include("../partials/nav.ejs") %>

        <nav class="breadcrumb-nav" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping bag</li>
          </ol>
        </nav>




        <div class="cart-container">
          <div class="row no-gutters">
            <!-- col-md-8 is bootrstap that makes the size of the col that holds cart items -->
            <div class="col-md-8 cart-right-box">
              <div class="cart-product-details">
                <!-- tidigare kod i cart-d-flex   d-flex flex-row -->
                <div class="cart-d-flex cart-continue"><i class="fa fa-long-arrow-left"></i> <a class="single" href="/">
                    Continue
                    Shopping</a></div>
                <h4 class="cart-h4">Your shopping bag</h4>

                <% if (products) { %>
                  <% products.forEach(product=> { %>

                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">

                      <div class="d-flex flex-row">
                        <img src="/uploads/resized/<%= product.item.picture%>" width="40">
                        <div class="ml-2 cart-products-info">
                          <span class="font-weight-bold d-block">
                            <%= product.item.title %>
                          </span>
                          <span class="cat-spec">
                            <%= product.item.brand %>
                          </span>
                        </div>
                      </div>
                      <div class="d-flex flex-row cart-qp">
                        <span class="d-block">Items: <%= product.qty %>
                        </span>
                        <span class="d-block ml-5 font-weight-bold"> Total Price: <%= product.price %> SEK</span>
                      </div>

                      <div class="px-2 mt-3 cart-increase-reduce">
                        <!--Handles removal of one product-->
                        <a class="single" href="/cart/reduce/<%= product.item._id %>">
                          <i class="fa-solid fa-minus"></i>
                        </a>
                        <a href="/cart/increase/<%= product.item._id %>">
                          <i class="fa-solid fa-plus"></i>
                        </a>
                      </div>

                      <!--Handles removal of all of the one product-->
                      <div class="d-flex cart-remove-items "><span>Remove items <a
                            href="/cart/remove/<%= product.item._id %>"> <i
                              class="fa fa-trash-o ml-3 text-black-50"></i></a></span>
                      </div>

                    </div>
                    <% }) %>
                      <% } else { %>
                        <p>There are no products to display...</p>
                        <% } %>
              </div>
            </div>



        
            <div class="col-md-4 holder-payment-info">

              <div class="payment-info">
                <h4>Details</h4>
                <div class="cart-box">
                  <% if (products >= 0){ %>
                    <p>No items in bag</p>

                    <%} else { %>
                      <ul>
                        <li class="cart-totalrow"><span class="label">Items: </span><span class="value">
                            <%= totalQty %>
                          </span>
                        </li>

                        <li class="cart-totalrow"><span class="label"><strong>Total Price:</strong> </span><span class="value">
                            <%= totalPrice %> SEK
                          </span>
                        </li>

                        <li class="cart-totalrow">
                          <a class="single" href="/paypal/shippinginformation">
                            <button class="btn cart-checkout-btn rounded-0">Checkout &#8594;</button>
                        </a>
                        </li>

                        <li class="cart-totalrow">
                    
                            <!-- BEGIN: TrustLock Badge --><img name="trustseal" alt="Trust Badges" style="border: 0;" src="https://trustlock.co/wp-content/uploads/2019/01/guaranteed-safe-checkout-1.png" width="238" height="44"><!-- End: TrustLock Badge -->

                            <!-- BEGIN: TrustLock Badge --><img name="trustseal" alt="Trust Badges" style="border: 0;" src="https://trustlock.co/wp-content/uploads/2019/01/free-credot-card-logos-3.png" width="181" height="28"><!-- End: TrustLock Badge -->

                        </li>


  
                      </ul>
                      <% } %>
                </div>
              </div>
            </div>


          </div>

        </div>


    </div>

    <%- include("../partials/footer.ejs") %>


  </body>