<%- include("../partials/head.ejs") %>

  <body>
    <!-- Container fluid does that the navbar and everything inside fits to the page -->
    <!-- Look at this later if time let us -->
    <div class="container-fluid" id="app">
      <%- include("../partials/nav.ejs") %>

        <nav class="breadcrumb-nav" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
          </ol>
        </nav>
        <a class="single" href="/admin/products">
          <!--make sure these are correct -->
          <button>Back to items</button>
        </a>

        <!-- Responsive Crud table start (looping through all our products in our db and show them with crud operations) -->
        <div class="table-responsive-sm">
          <table class="table">

            <tr>
              <!---Phil did this-->
              <th scope="col">Picture</th>
              <th scope="col">Title</th>
              <th scope="col">Brand</th>
              <th scope="col">Quantity</th>
              <th scope="col">Size</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>



            </tr>
            </thead>
            <% if (products) { %>
              <% products.forEach(product=> { %>

                <tbody id="table-body">
                  <tr>

                    <!---Phil did this-->
                    <td> <img src="/uploads/resized/<%= product.item.picture%> " /></td>
                    <td class="table-title">

                      <!----------------We call the item property that is linked to a session similar to how we did in admin-product but we access the item property. ------------------------->
                      <strong>
                        <%= product.item.title %>
                    </td>
                    <td>
                      <strong>
                        <%= product.item.brand %>
                      </strong>
                    </td>

                    <td>
                      <strong>
                        <%= product.qty %>
                      </strong>
                    </td>

                    <td>
                      <strong>
                        <%= product.size %>
                      </strong>
                    </td>


                    <td>
                      <strong>
                        <%= product.price %>
                      </strong>
                    </td>

                    <td>
                      <!----------------------------------------->
                      <div class="px-2 mt-3">



                        <a class="single" href="#">
                          <button class="btn btn-form">Checkout</button>
                        </a>

                        <!--Handles removal of the whole  product-->
                        <a href="/cart/remove/<%= product.item._id %>">
                          <button class="btn btn-form">Remove</button>
                        </a>
                        <!--Handles removal of one product-->
                        <a class="single" href="/cart/reduce/<%= product.item._id %>">
                          <button class="btn btn-form">reduce</button>
                        </a>

                              <a href="/cart/increase/<%= product.item._id %>">
                                  <button class="btn btn-form">increase</button>
                              </a>
                          </div>
                            <!--Handles checkout-->
                          <form action="/paypal/pay" method="post">

                            <button class="btn btn-card ">Buy</button>
              
                          </form>

                          <strong>Quantity: <%= totalQty %> </strong>
                          <br>
                          <strong class="badge"> Total Price: <%= totalPrice %> </strong>
                          
                      </td>

                    <% }) %>
                      <% } else { %>
                        <p>There are no products to display...</p>
                        <% } %>
                  </tr>
                </tbody>
          </table>
      </div>



        <!--/FOOTER/-->
        <%- include("../partials/footer.ejs") %>


          <!--/We will write the script methods here/-->
          <!-- Do we need this script links?? -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
          <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

          <script>




          </script>


  </body>