
<%- include("./partials/head.ejs") %>


<%- include("./partials/nav.ejs") %>
<!--Edit-form page to update a product-->
<div class="create-blog content">
  <form action="/shop/edit-form/<%=product.id %>?_method=PUT" method="POST" enctype='multipart/form-data'> <!--Edit-form page to update a product-->
      <label for="title">Title:</label>
      <input type="text"  class="form-control" placeholder="title" name="title" value="<%= product.title %>">

      <label for="gender">Gender:</label>
      <input type="text"  class="form-control" placeholder="gender" name="gender" value="<%= product.gender%>">

      <label for="brand">Brand:</label>
      <input type="text"  class="form-control" placeholder="brand" name="brand" value="<%= product.brand%>">
    
      <label for="description">Description:</label>
      <input type="text"  class="form-control" placeholder="description" name="description" value="<%= product.description%>">

      <label for="picture">Picture:</label>
      <input type="file"  class="form-control" placeholder="picture" name="picture" value="<%= product.picture%>">

      <label for="price">Price:</label>
      <input type="text"  class="form-control" placeholder="price" name="price" value="<%= product.price%>">

      <button class="btn btn-card" type="submit">Submit</button>
    </form>
</div>

<%- include("./partials/footer.ejs") %>


