<%- include("../partials/head.ejs") %>

  <body>
    <div class="container-fluid">


      <%- include("../partials/nav.ejs") %>
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin Products</li>
          </ol>
        </nav>


        <!--Search for specific product , calls 'search_products()'-->
        <form class="form-inline d-flex justify-content-around md-form form-sm mt-0 ">
          <input id="searchbar" onkeyup="search_products()" type="text" required class="form-control me-2"
            placeholder="Search" aria-label="Search" />
        </form>

        <a class="single" data-toggle="modal" data-target="#addModal">
          <!--make sure these are correct -->
          <button class="btn btn-form-product" type="submit">Add Product</button>
          <!--add icon-->
        </a>

        <!-- Responsive Crud table start (looping through all our products in our db and show them whit crud operations) -->
        <div class="table-responsive-sm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Picture</th>
                <th scope="col">Title</th>
                <th scope="col">Brand</th>
                <th scope="col">size</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <% if (products.length> 0) { %>
              <% products.forEach(product=> { %>

                <tbody id="table-body">
                  <tr>
                    <td> <img src="/uploads/resized/<%= product.picture%>" style="width: 10%; height: auto;"></td> <!--move style to css later //Karwan-->
                    <td class="table-title">
                      <%= product.title %>
                    </td>
                    <td>
                      <%= product.brand %>
                    </td>

                    <td>
                      <%= product.size %>
                    </td>
                    <td>
                      <%= product.price %>
                    </td>
                    <td>
                      <div class="px-2 mt-3">

                        <!--product details button-->
                        <a class="single" href="/shop/products/<%= product._id %>">
                          <!--make sure these are correct -->
                          <button class="btn btn-form-product"><i class="fa-solid fa-info"></i></button>
                        </a>

                        <!--update button-->
                        <a class="single" href="/shop/update/<%= product._id %>">
                          <button class="btn btn-form-product" type="submit"><i
                              class="fa-solid fa-pen-to-square"></i></button>
                        </a>

                        <!---Check if we can fix this button later on.---delete button--
                        <a class="single" href="/shop/delete/<%= product._id %>">
                          <button class="btn btn-form-product"><i class="fa-solid fa-trash"></i></button>
                        </a>
                      -->

                      </div>
                    </td>
                    <% }) %>
                      <% } else { %>
                        <p>There are no products to display...</p>
                        <% } %>
                  </tr>
                </tbody>
          </table>
        </div>

        <!--add product modal-->
        <div class="modal fade" id="addModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/shop/products" method="POST" enctype='multipart/form-data'>
                  <!--Edit-form page to update a product-->
                  <!--It needs to be products and not product becuase of the db, look it up!-->
                  <label for="title">Title:</label>
                  <input type="text" class="form-control" name="title" value="<%= products.title %>">
                  <!--It needs to be products and not product becuase of the db, look it up!-->

                  <label for="gender">Gender:</label>
                  <input type="text" class="form-control" name="gender" value="<%= products.gender%>">

                  <label for="brand">Brand:</label>
                  <input type="text" class="form-control" name="brand" value="<%= products.brand%>">

                  <label for="brand">Size:</label>
                  <input type="text" class="form-control" name="size" value="<%= products.size%>">

                  <label for="description">Description:</label>
                  <input type="text" class="form-control" name="description" value="<%= products.description%>">

                  <label for="picture">Picture:</label>
                  <input type="file" class="form-control" name="picture" value="<%= products.picture%>">

                  <label for="price">Price:</label>
                  <input type="text" class="form-control" name="price" value="<%= products.price%>">

                  <button class="btn btn-card" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>

      <!-- Have all the JS code last down in the page in every EJS file-->
      <!-- We should move all scripts to a separate scripts folder and call the folder instead, i think thats best practise -->
      <script>

        //Search functionality
        $(document).ready(function () {
          $("#searchbar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#table-body tr").filter(function () {
              $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
          });
        });

      </script>

  </body>