<%- include("../partials/head.ejs") %>

<body>

   
    <div class="container-flow"> 
       <%- include("../partials/nav.ejs") %>
      <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admin Users</li>
        </ol>
      </nav>

          <!-- Responsive Crud table start (looping through all our products in our db and show them whit crud operations) -->
          <div class="table-responsive-sm">
             <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Id</th>

              </tr>
            </thead>
            <% if (users.length> 0) { %>
              <% users.forEach(users=> { %>
            <tbody>
             
              <tr>
                <td> <%= users.name %></td>
                <td> <%= users._id %></td>

              <% }) %>
              <% } else { %>
                <p>There are no users to display...</p>
                <% } %>
              </tr>
            </tbody>
          </table>
          </div>
       
    </div>

    <%- include("../partials/footer.ejs") %>

      <!-- Have all the JS code last down in the page in every EJS file-->
      <script>

      </script>

</body>