<%- include("../partials/head.ejs") %>
  <!--Error/success flash message for our crud operations'-->
  <% if(messageAdd.length> 0 ) {%>
    <div class="alert alert-success">
      <%= messageAdd %>
    </div>


    <% } %>


      <% if(messageUpdate.length> 0 ) {%>
        <div class="alert alert-success">
          <%= messageUpdate %>
        </div>


        <% } %>

          <% if(messageDelete.length> 0 ) {%>
            <div class="alert alert-success">
              <%= messageDelete %>
            </div>


            <% } %>





              <% if(messageDeleteError.length> 0 ) {%>
                <div class="alert alert-success">
                  <%= messageDeleteError %>
                </div>


                <% } %>

                  <% if(messageUpdateError.length> 0 ) {%>
                    <div class="alert alert-success">
                      <%= messageUpdateError %>
                    </div>


                    <% } %>

                      <% if( messageAddError.length> 0 ) {%>
                        <div class="alert alert-success">
                          <%= messageAddError %>
                        </div>


                        <% } %>

                          <% if( message_notFound.length> 0 ) {%>
                            <div class="alert alert-success">
                              <%= message_notFound %>
                            </div>


                            <% } %>




                              <!--Error/success flash message for our crud operations'-->

                              <body>

                                <div class="container-fluid">
                                  <%- include("../partials/nav.ejs") %>
                                    <nav class="breadcrumb-nav" aria-label="breadcrumb">
                                      <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                                      </ol>
                                    </nav>



                                    <div class="admin-container">
                                      <div class="add-product-holder">
                                        <div class="add-product-div">
                                          <!-- button to open product post modal -->
                                          <a class="single" data-toggle="modal" data-target="#addProductModal">
                                            <!--make sure these are correct -->
                                            <button class="btn btn-form-product rounded-0" type="submit">Add
                                              Product</button>
                                            <!--add icon-->
                                          </a>
                                        </div>
                                      </div>


                                      <!-- Responsive Crud table start (looping through all our products in our db and show them whit crud operations) -->
                                      <div class="table-responsive-sm">
                                        <table class="table admin-table">
                                          <thead class="admin-thead">
                                            <tr>
                                              <th scope="col">Picture</th>
                                              <th scope="col">Title</th>
                                              <th scope="col">Brand</th>
                                              <th scope="col">Gender</th>
                                              <th scope="col">Price</th>
                                              <th class="th-right" scope="col">Actions</th>
                                            </tr>
                                          </thead>
                                          <% if (products.length> 0) { %>
                                            <% products.forEach(product=> { %>

                                              <tbody id="table-body admin-tbody">
                                                <tr>
                                                  <td class="td-img"> <img class="admin-table-img"
                                                      src="/uploads/resized/<%= product.picture%>"></td>
                                                  <!--move style to css later //Karwan-->
                                                  <td class="table-title">
                                                    <p>
                                                      <%= product.title %>
                                                    </p>
                                                  </td>
                                                  <td>
                                                    <p>
                                                      <%= product.brand %>
                                                    </p>
                                                  </td>
                                                  <td>
                                                    <p>
                                                      <%= product.gender %>
                                                    </p>
                                                  </td>
                                                  <td>
                                                    <p>
                                                      <%= product.price %> SEK
                                                    </p>
                                                  </td>
                                                  <td>
                                                    <div class="px-2 mt-3 td-right">

                                                      <!--product details button-->
                                                      <a class="single" href="/shop/product/<%= product._id %>">
                                                        <!--make sure these are correct -->
                                                        <button class="btn btn-form-product">
                                                          <i class="fa-solid fa-info"></i>
                                                        </button>
                                                      </a>

                                                      <!--update button-->
                                                      <a class="single" href="/shop/update/<%= product._id %>">
                                                        <button class="btn btn-form-product" type="submit">
                                                          <i class="fa-solid fa-pen-to-square"></i></button>
                                                      </a>



                                                      <!--Delete btn -->
                                                      <a class="delete"><button data-doc="<%= product._id %>"
                                                          class="btn admin-delete-style"> <i class="fa fa-trash"
                                                            aria-hidden="true"></i></button> </a>
                                                      <!---Check if we can fix this button later on.---delete button--
             <a class="single" href="/shop/delete/<%= product._id %>">
               <button class="btn btn-form-product"><i class="fa-solid fa-trash"></i></button>
             </a>
           -->

                                                    </div>
                                                  </td>
                                                  <% }) %>
                                                    <% } else { %>
                                                      <p>There are no products to display...</p>
                                                      <% } %>
                                                </tr>
                                              </tbody>
                                        </table>
                                      </div>

                                      <!--add product modal-->
                                      <div class="modal fade " id="addProductModal">
                                        <div class="modal-dialog rounded-0">
                                          <div class="modal-content rounded-0">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Add Product</h5>

                                              <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <form action="/shop/product" method="POST" enctype='multipart/form-data'
                                                required required>
                                                <!--Edit-form page to update a product-->
                                                <!--It needs to be products and not product becuase of the db, look it up!-->
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control rounded-0" name="title"
                                                  value="<%= products.title %>" required>
                                                <!--It needs to be products and not product becuase of the db, look it up!-->

                                                <label for="gender">Gender</label>
                                                <select class="form-control rounded-0" name="gender"
                                                  value="<%= products.gender%>" required="true">
                                                  <option disabled selected value="">Select</option>
                                                  <option>Woman</option>
                                                  <option>Man</option>
                                                </select>
                                                <!-- <input type="text" class="form-control" name="gender" value="<%= products.gender%>"> -->

                                                <label for="brand">Brand</label>
                                                <select class="form-control rounded-0" name="brand"
                                                  value="<%=products.brand%>" required>
                                                  <option disabled selected value="">Select</option>
                                                  <option>Nike</option>
                                                  <option>Adidas</option>
                                                  <option>Reebok</option>
                                                  <option>Puma</option>
                                                  <option>New Balance</option>
                                                  <option>Kappa</option>
                                                  <option>Champion</option>
                                                </select>

                                                <label for="description">Description</label>
                                                <input type="text" class="form-control rounded-0" name="description"
                                                  value="<%= products.description%>" required>

                                                <label for="picture">Picture</label>
                                                <input type="file" class="form-control rounded-0" name="picture"
                                                  value="<%= products.picture%>" required>


                                                <label for="price">Price</label>
                                                <input type="text" class="form-control rounded-0" name="price"
                                                  value="<%= products.price%>" required>
                                                <div class="add-form-btn-holder">
                                                  <button class="btn add-form-btn rounded-0" type="submit">Add</button>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <!--edit product modal-->
                                      <div class="modal fade" id="UpdateProductModal">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Edit Product</h5>

                                              <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <form action="/shop/product" method="POST" enctype='multipart/form-data'>
                                                <!--Edit-form page to update a product-->
                                                <!--It needs to be products and not product becuase of the db, look it up!-->
                                                <label for="title">Title:</label>
                                                <input type="text" class="form-control" name="title"
                                                  value="<%= products.title %>">
                                                <!--It needs to be products and not product becuase of the db, look it up!-->

                                                <label for="gender">Gender:</label>
                                                <select class="form-control" name="gender"
                                                  value="<%= products.gender%>">
                                                  <option selected disabled>Please Select</option>
                                                  <option>Woman</option>
                                                  <option>Man</option>
                                                </select>
                                                <!-- <input type="text" class="form-control" name="gender" value="<%= products.gender%>"> -->

                                                <label for="brand">Brand:</label>
                                                <input type="text" class="form-control" name="brand"
                                                  value="<%= products.brand%>" required>

                                                <label for="brand">Size:</label>
                                                <input type="text" class="form-control" name="size"
                                                  value="<%= products.size%>" required>

                                                <label for="description">Description:</label>
                                                <input type="text" class="form-control" name="description"
                                                  value="<%= products.description%>" required>

                                                <label for="picture">Picture:</label>
                                                <input type="file" class="form-control" name="picture"
                                                  value="<%= products.picture%>" required>

                                                <label for="price">Price:</label>
                                                <input type="number" class="form-control" name="price"
                                                  value="<%= products.price%>" required>

                                                <button class="btn btn-card" type="submit">Submit</button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <%- include("../partials/footer.ejs") %>

                                  <!-- Have all the JS code last down in the page in every EJS file-->
                                  <!-- We should move all scripts to a separate scripts folder and call the folder instead, i think thats best practise -->
                                  <script>

                                    //Search functionality
                                    $(document).ready(function () {
                                      $("#searchbar").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#table-body tr").filter(function () {
                                          $(this).toggle($(this).text()
                                            .toLowerCase().indexOf(value) > -1)
                                        });
                                      });
                                    });


                                    // set timer for our flash message
                                    $(function () {
                                      setTimeout(function () {
                                        $('.alert').slideUp(500);
                                      }, 3000);
                                    });

                                    // Function for delete product
                                    const trashcan = document.querySelectorAll('a.delete');
                                    trashcan.forEach(function (el) {
                                      el.addEventListener('click', function (event) {
                                        const endpoint = `/shop/delete/${event.target.dataset.doc}`

                                        fetch(endpoint, { method: 'DELETE' })
                                          .then(response => response.json())
                                          .then((data) => window.location.href = data.redirect)
                                          .catch(err => console.log(err));
                                      })
                                    })
                                  </script>

                              </body>